<div class="basic-container">
	<div class="search-and-navigation">
		<button mat-raised-button class="search-input" color="primary" (click) = "getBooks()">Search</button>
		<mat-form-field class="search-input">
			<mat-label>Search</mat-label>
			<input matInput placeholder="Flowers" [(ngModel)] = "searchQuery">
		</mat-form-field>

	</div>
	<mat-grid-list cols="2" gutterSize="10px">
		<mat-grid-tile *ngFor="let book of books">
			<mat-card class="example-card">
				<mat-card-header>
					<div mat-card-avatar class="example-header-image"></div>
					<mat-card-title>{{book.title}}</mat-card-title>
					<mat-card-subtitle>{{book.authors}}</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image class="book-thumbnail" src="{{book.thumbnail}}">
				<mat-card-content>
					<p>
						<b>Descritpion</b>{{book.description}}<br>
						<b>Page No:</b>{{book.pageCount}}<br>
						<b>Published Date</b>{{book.publishedDate}}<br>
					</p>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
</div>